<div class="grid-container">
    <div class="grid-x grid-padding-x align-center">
        <div class="cell auto">
            <div class="flex-video widescreen">
                <iframe src="https://www.youtube.com/embed/IObjav5c0Qk" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
        <div class="cell auto">
            <div class="flex-video widescreen">
                <iframe src="https://www.youtube.com/embed/1mzLxmyOZXg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>