<footer>
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell shrink footer">
                <div class="rounded-social-buttons">
                    <a class="social-button youtube" href="https://www.youtube.com/channel/UCXCM6JXySa7PIF8xG3wIt6w"></a>
                    <a class="social-button instagram" href="https://www.instagram.com/svett_lanochka/"></a>
                </div>
            </div>
        </div>
    </div>
</footer>

<script src="static/js/vendor/jquery.js"></script>
<script src="static/js/vendor/what-input.js"></script>
<script src="static/js/vendor/foundation.js"></script>
<script src="static/js/app.js"></script>

</body>

</html>