<!--menu.html-->

<div class="title-bar white" data-responsive-toggle="animated-menu" data-hide-for="medium">
  <div class="title-bar-title">
    Menu
  </div>
</div>
<div class="grid-container">
  <div class="top-bar" id="animated-menu" data-animate="hinge-in-from-top spin-out">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu="">
        <!--li class="menu-text">Site Title</li-->
        <li>
          <a href="#">Прогулки по Москве</a>
          <ul class="menu vertical">
            <li>
              <a href="/rimskaya.html">Пешком от Марксисткой</a>
            </li>
            <li>
              <a href="/tretyakovskaya.html">Пешком от Третьяковской
              </a>
            </li>
            <li>
              <a href="/patriarshie.html">Пешком до Патириарших
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a href="/books.html">Обзор книг</a>
        </li>
        <li>
          <a href="/handmade.html">Handmade</a>
        </li>
      </ul>
    </div>
  </div>
</div>