<!--menu.html-->

<div class="title-bar white" data-responsive-toggle="animated-menu" data-hide-for="medium">
  <div class="title-bar-title">
    Menu
  </div>
</div>
<div class="grid-container">
  <div class="top-bar" id="animated-menu" data-animate="hinge-in-from-top spin-out">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu="">
        <!--li class="menu-text">Site Title</li-->
        {{ $menuItems := .menuItems }}
        {{ range $mainMenu := $menuItems }}
          {{ $isSub := 1 }}
            <li>
              <a href="#">{{ $mainMenu.Name }}</a>
              {{ if eq $mainMenu.SubMenuID 0 }}
  
                {{ range $subMenu := $menuItems }}
                {{ $menuItems }}  
                  {{ if eq $mainMenu.Serial $subMenu.SubMenuID }}

                    {{ if eq $isSub 1 }}
                      <ul class="menu vertical">
                        Привет {{ $mainMenu.Serial }}
                      {{ $isSub := 0 }}
                    {{ end }}
                  
                    <li>
                      <a href="">{{ $subMenu.Name }}</a>
                    </li>
                  {{ end }}

                {{ end }}
                
                {{ if eq $isSub 0 }}
                    </ul>
                    {{ $isSub := 1 }}
                    {{ $isSub }}
                {{end }}
            </li>
              {{ end }}
        {{ end }}
      </ul>
    </div>
  </div>
</div>